<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>CRUD Demo</title>
    <link rel="stylesheet" href="styles.css" />
  </head>
  <body>
    <h1>CRUD Demo</h1>
    <form action="/" method="POST">
      <input type="text" name="newItem" placeholder="Enter item name" required />
      <button type="submit">Add Item</button>
    </form>
    <ul>
      <% items.forEach(function(item) { %>
      <li>
        <span><%= item.name %></span>
        <form action="/delete" method="POST" class="delete-form">
          <input type="hidden" name="itemId" value="<%= item._id %>" />
          <button type="submit">Delete</button>
        </form>
      </li>
      <% }); %>
    </ul>
  </body>
</html>
